body {
    background: linear-gradient(120deg, #89f7fe, #66a6ff);
    height: 100vh;
    margin: 0;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    width: 350px;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 0px 20px #0002;
}

input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background: #3b7cff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #1f5eff;
}

.result {
    margin-top: 20px;
}
